h1#texto{
    color: aquamarine;
    text-align: center;
   
}
div#ola{
    background-image: linear-gradient(to top,green, red);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.igual{
    text-align: center;
}