header.Menu {
    background-color: #09f;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    box-shadow: rgba(0.0.0,.2);
}

header.Menu  a {
    font-size: 1.2em;
    color: #fff;
}